$warning-color: orange;
$error-color: orange;
$screen-margin-top: 70px;
$form-label-width: 80px;


.form_label {
  display: inline-block;
  width: $form-label-width;
}

.heading {
  display: inline-block;
  font-weight: bold;
  font-size:1.2em;
}
.header_icon {
  color:black;
}


.error {
  color: $error-color;
}

.warning {
  color: $warning-color;
  font-weight: bold;
}

.screen {
  margin:auto;
  margin-top: $screen-margin-top;
  text-align: center;
  width:95%;
}

.content {
  display: inline-block;
  text-align: initial;
  padding: 20px;
}

.react-grid-container {
  margin-top:20px;
}

.row {
  clear: both;
  min-height: 15px; // to allow empty rows as divider
}

.field {
  display: inline-block;
  margin-right:25px;
  vertical-align: top;
}

form {
  display: inline-block;
  margin: 0 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
.grid_spacer {
  flex: 1 1 auto;
}

.screen_unit {
  margin-top:10px;
  padding:10px;
}
