$warning-color: orange;
$error-color: orange;
$screen-margin-top: 70px;
$form-label-width: 80px;
$header-bar-background:#f7f7f7;

.completed {
  text-decoration: line-through;
}

.app_title {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}


header {
  position: fixed;
}

.row {
  line-height: 150%;
}

.form_label {
  display: inline-block;
  width: $form-label-width;
}

.heading {
  display: inline-block;
  font-weight: bold;
  font-size:1.2em;
}


.error {
  color: $error-color;
}

.warning {
  color: $warning-color;
  font-weight: bold;
}

.screen {
  margin:auto;
  margin-top: $screen-margin-top;
  text-align: center;
  width:95%;
}

.content {
  display: inline-block;
  text-align: initial;
  padding: 20px;
}

button {
  background: none;
  border:none;
  float: right;
  text-decoration: underline;
  font-weight: bold;
  color:blue;
  margin-top:10px;
  cursor: pointer;
}

.react-grid-container {
  margin-top:20px;
}

.row {
  clear: both;
}

.field {
  display: inline-block;
  margin-right:25px;
}

form {
  display: inline-block;
  margin:10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.grid_spacer {
  flex: 1 1 auto;
}

.screen_unit {
  margin-top:10px;
  padding:10px;
}
